<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parabank Automation Suite" parallel="tests" thread-count="2">
    <parameter name="browser" value="chromium"/>

    <listeners>
        <listener class-name="io.github.krishnaharshap.qa.automation.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="io.github.krishnaharshap.qa.automation.tests.ParabankLoginTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <packages>
            <package name="io.github.krishnaharshap.qa.automation.tests"/>
        </packages>
    </test>
</suite>
